.action-box {
    display: flex;
    width: 90%;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 0 0 8px 8px;
    font-size: 12px;
}

.action-box-action {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.action-box-action:hover {
    background-color: #e21d1d;
    border-radius: 0 0 8px 8px;
}
