.settings {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.settings-profile {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settings-profile p {
    height: 34px;
}

.settings form {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}
