.loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
}

.loader h1 {
    font-size: 24px;
}